/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
  ===========================
  Customised
  =========================== 
*/
@font-face {
  font-family: flood-std;
  src: url("../fonts/floodstd.otf");
}

body {
  font: 16px/24px Helvetica Arial sans-serif;
  background: #fff;
  color: #354463;
}

.container {
  margin: 0 10vw;
}


/* 
  ===========================
  Home
  =========================== 
*/

.header-home {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  text-align: left;
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0px;
}

.header-home nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: 16px/24px Helvetica;
  letter-spacing: -0.16px;
}

.header-home a {
  text-decoration: none;
  color: #354463;
}

.oval-back {
  padding: 1rem 2rem;
  font: Bold 18px/22px Helvetica;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  text-align: center;
  border: none;
}

#issue {
  background: url('../images/home/annie-spratt-135307-unsplash.png') no-repeat;
  background-size: cover;
  background-color: #354463;
}

.showcase-1,
.showcase-2,
.showcase-3 {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.showcase-1 .white-box {
  background: #fff;
  padding: 4rem 5em;
  width: 35%;
}

.rect-back {
  background: #354463;
  padding: .5rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font: 14px/17px Helvetica;
  letter-spacing: 0.56px;
  position: relative;
}

.showcase-1 span {
  top: -4.5rem;
}

.showcase-1 p {
  font: Bold 44px/56px Helvetica;
  letter-spacing: 0px;
}

.showcase-1 .stop-climate {
  color: #fff;
  font: 68px/76px flood-std;
  width: 35%;
  text-align: left;
}

#action {
  background: #C1F7D5;
}

.showcase-2 {
  padding: 0;
}

.showcase-head {
  text-align: center;
  top: -1rem;
  position: relative;
}

.flex-item {
  width: 20%;
  margin: 2.5rem 0;
}

.flex-item span {
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0px;
  display: block;
  padding-bottom: .5rem;
}

.flex-item p {
  font: 16px/24px Helvetica;
  letter-spacing: -0.16px;
}

#what-we-do {
  background: #354463;
}

#what-we-do .showcase-head {
  position: relative;
  text-align: left;
  top: 3rem;
}

#what-we-do .rect-back {
  background: #fff;
  color: #354463;
}

#what-we-do .showcase-head p {
  text-align: left;
  font: Bold 44px/56px Helvetica;
  color: #fff;
  padding: 2rem 0 5rem 0;
}

.showcase-3 .white-box {
  background: #fff;
  width: 22%;
  height: auto;
  padding: 2rem 2rem;
}

.message-img {
  position: relative;
  top: -4rem;
  margin-bottom: -4rem;
  left: 2rem;
}

.message-img img {
  height: 250px;
  width: 100%;
  transform: scaleX(1.22);
}

.message span {
  margin-top: 2rem;
  display: block;
  font: Bold 28px/36px Helvetica;
}

.message p {
  margin: 1rem 0 2rem 0;
  font: 16px/24px Helvetica;
  letter-spacing: -0.16px;
}


/* 
  ===========================
  Footer
  =========================== 
*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

footer span {
  display: block;
  margin-bottom: .4rem;
  border-bottom: 2px solid #354463;
  text-transform: uppercase;
}

footer a,
footer li {
  font: 12px/20px Helvetica;
  letter-spacing: 0.44px;
}

.stop-climate {
  text-align: right;
  font: 44px/46px flood-std;
}


/* 
  ===========================
  Donate
  =========================== 
*/
.header-donate .logo {
  padding: 2rem 0;
  text-align: center;
}


.donate-showcase {
  background: url('../images/home/annie-spratt-135307-unsplash.png') no-repeat;
  background-size: cover;
  background-color: #354463;
  padding: 5rem 0;
}

.donate-showcase .box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.donate-showcase .box-item {
  width: 45%;
}

.give-hope {
  max-width: 30%;
  text-align: left;
  font: 72px/76px flood-Std;
  letter-spacing: 0px;
  color: #fff;
}

.donate-showcase form {
  background: #354463;
  color: #fff;
  padding: 3rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 30px 10px;
  table-layout: fixed;
  margin-bottom: 2rem;
}

tr {
  border-left: none;
  border-spacing: 0;
}

th,
form p {
  text-align: left;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0px;
}

form p {
  padding-bottom: 3rem;
}

table label {
  font: 14px/17px Helvetica;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}


table td {
  border-bottom: 1px solid #C1F7D5; 
  width: 25%;
  padding: 15px 0 0 0;
}

table input[type=text],
table input[type=email],
table select {
  width: 100%;
  padding: 12px 0;
  display: inline-block;
  border: 0;
  background: transparent;
  font: Light 20px/32px Helvetica;
  letter-spacing: -0.4px;
}

table select {
  color: #C1F7D5;
}

form .box {
  align-items: center;
}

form a {
  color: #C1F7D5;
  font: 14px/20px Helvetica;
}


/* 
  ===========================
  Tablet View
  =========================== 
*/
@media (max-width: 840px) and (min-width: 461px) {
  .header-home {
    display: block;
    justify-content: space-between;
  }

  .header-home nav {
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }

  .donate-btn {
    float: right;
    margin-top: -6rem;
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    width: 40%;
    margin-bottom: 3rem;
  }

  .showcase-1 {
    flex-direction: column-reverse;
  }

  .showcase-1 .white-box {
    padding: 4rem 5em;
    width: auto;
  }

  .showcase-1 .stop-climate {
    margin-bottom: 5rem;
  }

  .showcase-1 p {
    font: Bold 36px/46px Helvetica;
  }


  .showcase-2 {
    flex-wrap: wrap;
  }

  .flex-item {
    width: 40%;
  }

  .showcase-3 {
    display: block;
    margin: 3rem 0;
  }

  .showcase-3 .white-box {
    width: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #what-we-do .showcase-head p {
    font: Bold 36px/46px Helvetica;
    padding: 2rem 0;
  }

  .showcase-3 .white-box:last-child{
    margin-bottom: 0;
  }

  .showcase-3 .message-img,
  .showcase-3 .message {
    width: 40%;
  }

  .showcase-3 .read-more-btn {
    width: 50%;
    text-align: right;
    position: relative;
    top: -5rem;
    margin-bottom: -5rem;
  }

  .donate-showcase .box:first-child {
    display: block;
  }
  
  .donate-showcase .box-item {
    width: auto;
  }

  .donate-showcase .give-hope {
    max-width: 100%;
    text-align: center;
    font: 44px/46px flood-Std;
    padding: 0 5rem 2rem 5rem;
  }

}


/* 
  ===========================
  Mobile View
  =========================== 
*/
@media (max-width: 460px) {
  .header-home {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    padding: .5rem 0;
    font: Bold 18px/22px Helvetica;
  }
  
  .header-home nav {
    width: 40%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .donate-btn {
    width: 100%;
    margin-top: 1.5rem;
  }

  footer {
    flex-wrap: wrap;
  }

  footer span {
    margin-right: 1rem;
  }

  footer div {
    width: 50%;
    margin-bottom: 3rem;
  }

  .showcase-1 {
    flex-direction: column-reverse;
  }

  .showcase-1 span {
    top: -2.5rem;
  }

  .showcase-1 .white-box {
    padding: 2rem 2rem;
    width: auto;
    margin-top: 5rem;
    text-align: center;
  }

  .showcase-1 p {
    font: Bold 22px/28px Helvetica;
  }

  .showcase-1 .stop-climate {
    font: 44px/46px flood-Std;
  }

  .showcase-2 {
    flex-wrap: wrap;
  }

  .flex-item {
    width: 45%;
  }

  .flex-item span {
    font: Bold 18px/24px Helvetica;
    padding-bottom: .25rem;
  }
  
  .flex-item p {
    font: 14px/20px Helvetica;
  }

  #what-we-do .showcase-head,
  #what-we-do .showcase-head p,
  .showcase-3 {
    text-align: center;
  }

  #what-we-do .showcase-head p {
    font: Bold 22px/28px Helvetica;
  }

  .showcase-3 {
    display: block;
  }

  .showcase-3 .white-box {
    width: auto;
    margin-bottom: 7rem;
  }

  .showcase-3 .white-box:last-child {
    margin-bottom: 0;
  }

  .message-img {
    left: 0;
  }

  .message-img img {
    height: 200px;
    transform: scaleX(1);
  }

  .showcase-3 .white-box span {
    font: Bold 18px/24px Helvetica;
  }

  .showcase-3 .white-box p {
    font: 14px/20px Helvetica;
  }

  .donate-showcase .box {
    display: block;
  }
  
  .donate-showcase .box-item {
    width: auto;
  }

  .donate-showcase form {
    padding: 2rem 1rem;
  }

  table {
    border-spacing: 15px 5px;
    padding: 0;
  }

  th, 
  form p {
    font: Bold 22px/28px Helvetica;
  }

  form p {
    padding: 0 1rem 2rem 1rem;
  }

  .donate-showcase .give-hope {
    max-width: 100%;
    text-align: center;
    font: 32px/46px flood-Std;
    padding-bottom: 3rem;
  }

  .donate-showcase button {
    width: 100%;
    margin-bottom: 1rem;
  }

}
