/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  font: 16px/24px Helvetica Arial sans-serif;
  background: #fff;
  color: #354463;
}

.container {
  margin: 0 10vw;
}


/* 
  ===========================
  Home - Header
  =========================== 
*/

.header-home {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  text-align: left;
  font: Bold 22px/28px Helvetica;
  letter-spacing: 0px;
}

.header-home nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: 16px/24px Helvetica;
  letter-spacing: -0.16px;
}

.header-home a {
  text-decoration: none;
  color: #354463;
}

.oval-back {
  padding: 1rem 2rem;
  font: Bold 18px/22px Helvetica;
  background: #C1F7D5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  text-align: center;
  border: none;
}


#issue {
  background: url('../images/home/annie-spratt-135307-unsplash.png') no-repeat;
  background-size: cover;
  background-color: #354463;
}

.showcase-1,
.showcase-2 {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.showcase-1 .white-box {
  background: #fff;
  padding: 4rem 5em;
  width: 35%;
}

.rect-back {
  background: #354463;
  padding: .5rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font: 14px/17px Helvetica;
  letter-spacing: 0.56px;
  position: relative;
}

.showcase-1 span {
  top: -4.5rem;
}

.showcase-1 p {
  font: Bold 44px/56px Helvetica;
  letter-spacing: 0px;
}

.showcase-1 .stop-climate {
  color: #fff;
  font: 68px/76px flood-std;
  width: 35%;
  text-align: left;
}

#action {
  background: #C1F7D5;
}

.showcase-2 {
  padding: 0;
}

.showcase-head {
  text-align: center;
  top: -1rem;
  position: relative;
}

.flex-item {
  width: 20%;
  margin: 2.5rem 0;
}

.flex-item span {
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0px;
  display: block;
  padding-bottom: .5rem;
}

.flex-item p {
  font: 16px/24px Helvetica;
  letter-spacing: -0.16px;
}


/* 
  ===========================
  Footer
  =========================== 
*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

footer span {
  display: block;
  margin-bottom: .4rem;
  border-bottom: 2px solid #354463;
  text-transform: uppercase;
}

footer a,
footer li {
  font: 12px/20px Helvetica;
  letter-spacing: 0.44px;
}

.stop-climate {
  text-align: right;
  font: 44px/46px flood-std;
}



/* 
  ===========================
  Tablet View
  =========================== 
*/
@media (max-width: 840px) and (min-width: 461px) {
  .header-home {
    display: block;
    justify-content: space-between;
  }

  .header-home nav {
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
  }

  .donate-btn {
    float: right;
    margin-top: -6rem;
  }

  footer {
    flex-wrap: wrap;
  }

  footer div {
    width: 40%;
    margin-bottom: 3rem;
  }

  .showcase-1 {
    flex-direction: column-reverse;
  }

  .showcase-1 .white-box {
    padding: 4rem 5em;
    width: auto;
  }

  .showcase-1 .stop-climate {
    margin-bottom: 5rem;
  }

  .showcase-1 p {
    font: Bold 36px/46px Helvetica;
  }


  .showcase-2 {
    flex-wrap: wrap;
  }

  .flex-item {
    width: 40%;
  }
}


/* 
  ===========================
  Mobile View
  =========================== 
*/
@media (max-width: 460px) {
  .header-home {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    padding: .5rem 0;
    font: Bold 18px/22px Helvetica;
  }
  
  .header-home nav {
    width: 40%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .donate-btn {
    width: 100%;
    margin-top: 1.5rem;
  }

  footer {
    flex-wrap: wrap;
  }

  footer span {
    margin-right: 1rem;
  }

  footer div {
    width: 50%;
    margin-bottom: 3rem;
  }

  .showcase-1 {
    flex-direction: column-reverse;
  }

  .showcase-1 span {
    top: -2.5rem;
  }

  .showcase-1 .white-box {
    padding: 2rem 2rem;
    width: auto;
    margin-top: 5rem;
    text-align: center;
  }

  .showcase-1 p {
    font: Bold 22px/28px Helvetica;
  }

  .showcase-1 .stop-climate {
    font: 44px/46px flood-Std;
  }

  .showcase-2 {
    flex-wrap: wrap;
  }

  .flex-item {
    width: 45%;
  }

  .flex-item span {
    font: Bold 18px/24px Helvetica;
    padding-bottom: .25rem;
  }
  
  .flex-item p {
    font: 14px/20px Helvetica;
  }
}
